.projects-container {
  position: relative;
  width: 100%;
  padding-top: 14rem;
}

.projects-container::after,
.projects-container::before {
  content: "";
  width: 28rem;
  height: 28rem;
  border-radius: 28.125rem;
  background: #7c66e3;
  position: absolute;
  z-index: -1;
  filter: blur(250px);
}

.projects-container::after {
  top: -3rem;
  left: -5rem;
}

.projects-container::before {
  bottom: 0rem;
  right: 0rem;
}

.project-title {
  text-align: left;
  margin-bottom: 4rem;
}

.projects-container h2 {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: left;
  border-bottom: 2px solid #6751b9;
  padding-bottom: 0.8rem;
  width: fit-content;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(320px, 1fr)
  ); /* تنظیم ستون‌ها برای ریسپانسیو */
  gap: 1.5rem;
}

@media (max-width: 1024px) {
  .projects-container {
    padding-top: 8rem;
    margin: 0 1rem;
  }

  .projects-grid {
    margin-right: 2rem;
  }

  .projects-container h2 {
    font-size: 1.5rem;
    margin-left: 1rem;
  }
}
@media (max-width: 480px) {
  .projects-container h2 {
    font-size: 1.5rem;
  }
}
