
.projects-container{
  position: relative;
  width: 100%;
  padding-top: 14rem;
}


.projects-container::after,
.projects-container::before {
  content: "";
  width: 28rem;
  height: 28rem;
  border-radius: 28.125rem;
  background: #7c66e3;
  position: absolute;
  z-index: -1;
  filter: blur(250px);
}

.projects-container::after {
  top: -3rem;
  left: -5rem;
}

.projects-container::before {
  bottom: 0rem;
  right: 0rem;
}

.project-title {
  text-align: left;
  margin-bottom: 4rem;
  
}

.projects-container h2{
  font-size: 1.8rem;
  font-weight: 600;
  text-align: left;
  border-bottom: 2px solid #6751b9; 
  padding-bottom: 0.8rem; 
  width: fit-content;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 1.5rem;


  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr); 
  }

  
 
  @media (min-width: 1280px) {
    grid-template-columns: repeat(3, 1fr); 
    gap: 3.5rem; 
  }
}
