.heroSection {
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 8rem;
  margin-top: -3rem;
}

.heroSection::after,
.heroSection::before {
  content: "";
  width: 23rem;
  height: 23rem;
  border-radius: 28.125rem;
  background: #7c66e3;
  position: absolute;
  z-index: -1;
  filter: blur(300px);
}

.heroSection::after {
  top: -5rem;
  left: -5rem;
}

.title h1 {
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
}

.title span {
  color: #7c66e3;
}

.title p {
  font-size: 1.4rem;
  line-height: 1.6;
}

.mail {
  margin-top: 3rem;
}

.mail a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;
  background: linear-gradient(90deg, #a993fe 0%, #7e61e7 100%);
  align-items: center;
  justify-content: center;
  padding: 0.7rem 1rem;
  border: none;
  outline: 1.5px solid transparent;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.mail a:hover {
  color: #a993fe;
  background: #000;
  outline: 1.5px solid #a993fe;
}

.heroSection img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 1025px) {
  .heroSection {
    flex-direction: column-reverse;
    text-align: center;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  p {
    margin: 0 3rem;
    font-size: 1rem;
    line-height: 1.6;
  }

  .mail a {
    font-size: 1rem;
  }

  img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
  }
}

@media (max-width: 600px) {
  .heroSection {
    gap: 5rem;
    margin-top: 3rem;
    margin-bottom: 8rem;
  }

  .heroSection h1{
    font-size: 1.5rem;
  }

  .heroSection p {
    margin: 0 1rem;
    font-size: 1rem;
    line-height: 1.6;
  }
  .heroSection img {
    width: 330px;
    height: 330px;
    border-radius: 50%;
    object-fit: cover;
  }
}
