.nav-wrapper {
  background: rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0;
  position: sticky;
  top: 0;
  z-index: 30;
  backdrop-filter: blur(50px);
}

.nav-content {
  width: 1300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  margin: 0 auto;
}

.logo {
  width: 12rem;
  height: auto;
}

.nav-content ul {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  list-style: none;
}

.nav-content li {
  margin: 0 1.5rem;
}

.menu-item {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: #fff;
  position: relative;
  cursor: pointer;
}

.menu-item::before {
  content: "";
  width: 2rem;
  height: 0.2rem;
  background: linear-gradient(90deg, #a993fe 0%, #7e61e7 100%);
  border-radius: 0.5rem;
  position: absolute;
  bottom: -0.6rem;
  opacity: 0;
  transform: translateX(0);
  transition: all 0.3s ease;
}

.menu-item:hover::before {
  width: 100%;
  transform: translateX(0);
  opacity: 1;
}

.contact-btn {
  font-size: 0.9rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: linear-gradient(90deg, #a993fe 0%, #7e61e7 100%);
  padding: 0.6rem 2rem;
  border: none;
  outline: 1.5px solid transparent;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact-btn:hover {
  color: #a993fe;
  background: #000;
  outline: 1.5px solid #a993fe;
}

.hamburger-icon {
  display: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  z-index: 60;
  position: relative;
  margin-right: 1rem;
}

@media (max-width: 768px) {
  .nav-content {
    width: 100%;
  }

  .hamburger-icon {
    display: block;
  }

  .menu {
    position: fixed;
    top: 0;
    right: 0;
    background: black;
    color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 50;
  }

  .menu.open {
    max-height: 100vh;
    opacity: 1;
    padding: 1rem;
  }

  .nav-content ul {
    flex-direction: column;
    width: 100%;
  }

  .nav-content li {
    margin: 1rem 0;
  }

  .contact-btn {
    margin-top: 1rem;
  }
}
