.content-main {
  position: relative;
}

.contact-main::before {
  content: "";
  width: 28rem;
  height: 28rem;
  border-radius: 28.125rem;
  background: #7c66e3;
  position: absolute;
  z-index: -1;
  filter: blur(250px);
}

.contact-main::before {
  bottom: 0rem;
  left: 0rem;
}

.contact-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.content-title h2 {
  margin-top: 10rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  text-align: center;
}

@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }
}
